<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"
  integrity="sha256-ngFW3UnAN0Tnm76mDuu7uUtYEcG3G5H1+zioJw3t+68=" crossorigin="anonymous"></script>
  <title>Document</title>
</head>
<body>
  <div id="app">
    <p>radio</p>
    <input type="radio" value="women" v-model="text1">women
    <input type="radio" value="men" v-model="text1">men
    <p>文字：{{text1}}</p>
  </div>
  <script>
  const vm = new Vue({
    el:"#app",
    data:{
      text1:""
    }
  })
</script>
</body>
</html>