<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"
  integrity="sha256-ngFW3UnAN0Tnm76mDuu7uUtYEcG3G5H1+zioJw3t+68=" crossorigin="anonymous"></script>
  <title>Document</title>
</head>
<body>
  <!-- 目標是使用 v-if . v-else-if . v-else .template -->
  <div id="app">
    <h2>使用v-if</h2>
    <h3 style="color: blue">當checkbox有被勾選才會出現文字</h3>
    <label for="checkbox1">1.</label>
    <input type="checkbox" v-model="checked1" id="checkbox1">
    <p v-if="checked1 == true">good</p>
    <h2>使用v-if + v-else </h2>
    <h3 style="color: blue">當checkbox有勾選會出現good2 ,沒有勾選會good3</h3>
    <label for="checkbox2">1.</label>
    <input type="checkbox" v-model="checked2" id="checked2">
    <p v-if="checked2 == true">good2</p>
    <p v-else>good3</p>
    <h2>使用v-if / v-else-if /v-else</h2>
    <h3 style="color: blue">當checkbox1有勾選會出現 "工程師" ,當checkbox2有勾選會出現"好的工程師",當checkbox1 和 checkbox2沒有打勾會出現"google工程師"</h3>
    <label for="checked3">1.</label>
    <input type="checkbox" v-model="checked3" id="checkedbox3">
    <label for="checkbox4">2.</label>
    <input type="checkbox" v-model="checked4" id="checkedbox4">
    <p v-if="checked3 == true">工程師</p>
    <p v-else-if="checked4 == true">好的工程師</p>
    <p v-else>google工程師</p>
    <h2>使用template</h2>
    <h3 style="color:blue">當checkbox有打勾,template會放入到html</h3>
    <input type="checkbox" v-model="checked5">
    <template v-if="checked5 == true">
      <p>工程師</p>
      <p>好的工程師</p>
      <p>google的工程師</p>
    </template>
  </div>
  <script>
    const vm = new Vue({
      el:"#app",
      data:{
        checked1: false,
        checked2: false,
        checked3: false,
        checked4: false,
        checked5: false,
      }
    })
  </script>

</body>
</html>